<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.webapi.mapper.EmployeesMapper">
    <select id="list" resultType="com.example.webapi.pojo.Employees">
        select * from Employees
        <where>
            <if test="empName!=null and !''.equals(empName.trim())">
                and emp_name like concat('%', #{empName}, '%')
            </if>
            <if test="deptName > 0">
                and dept_name = #{deptName}
            </if>
            <if test="empDegreeName > 0">
                and emp_degree_name = #{empDegreeName}
            </if>
        </where>
    </select>
</mapper>